:root {
    --background: rgb(14, 14, 14);
    --backgroundGrad: rgb(24, 7, 32);
    --sopPurple: rgb(118, 45, 187);
}

body {
    color: white;
}

@font-face {
    font-family: Gemunu;
    src: url(/fonts/GemunuLibre.ttf);
}

#grad {
    background: linear-gradient(var(--background), var(--backgroundGrad));
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    z-index: -100;
}
.member-info {  
    color: white;
    position: relative;
    height: 75px;
    width: 350px;
    
    display: flex;
    gap: 10px;
    font-family: Gemunu;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 20px;
    text-overflow:clip;
}



@media (max-width: 480px) {
    .member-info {
        transform: scale(0.8);
        margin-left: -20px;
    }
}

.profileLink {
    position: absolute;
    height: 75px;
    width: 100%;
    user-select: none;
}

.member-info h1 {
    font-size: 24px;
    margin-top: -4px;
}

.member-info .pfp {
    height: 100%;
}

.member-info .flag {
    height: 18px;
    width: auto;
}

.member-info .gamemode-icon {
    height: 18px;
    width: 18px;
    margin-left: auto;
    margin-top: auto;
}

.member-info .icon-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: -1;
}

.member-info .name-rank {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.member-info .user-info {
    display: flex;
    gap: 5px;
}

.member-info .discord p {
    text-align: left;
    margin-top: 1px;
    font-size: 14px;
    user-select: all;
}

.member-info .discord {
    position: absolute;
    margin-top: 58px;
    margin-left: 200px;
    display: flex;
    gap: 5px;
}

.member-info .discord-icon {
    margin-top: 1px;
    height: 14px;
}

.member-info .shadow {
    height: calc(75px + 8px);
    width: calc(350px + 8px);
    background-color: black;
    opacity: 20%;
    position: absolute;
    z-index: -2;

    margin: 6px 0 0 6px;
    padding: 2px;
    box-sizing: content-box;
}

.member-info .outline {
    position: absolute;
    height: calc(75px + 8px);
    width: calc(350px + 8px);

    border-width: 1px;
    border-style: solid;
    border-color: var(--sopPurple);
    border-width: 4px;
    border-top: 0;
    border-left: 0;

    box-sizing: content-box;
    z-index: -1;
}

.member-info .outline-owner {
    position: absolute;
    height: calc(75px + 8px);
    width: calc(350px + 8px);

    border-width: 1px;
    border-style: solid;
    border-color: #F1C40F;
    border-width: 4px;
    border-top: 0;
    border-left: 0;

    box-sizing: content-box;
    z-index: -1;
}

.member-info .outline-moderator {
    position: absolute;
    height: calc(75px + 8px);
    width: calc(350px + 8px);

    border-width: 1px;
    border-style: solid;
    border-color: #E67E22;
    border-width: 4px;
    border-top: 0;
    border-left: 0;

    box-sizing: content-box;
    z-index: -1;
}

.member-info .outline-content-manager {
    position: absolute;
    height: calc(75px + 8px);
    width: calc(350px + 8px);

    border-width: 1px;
    border-style: solid;
    border-color: #E91E63;
    border-width: 4px;
    border-top: 0;
    border-left: 0;

    box-sizing: content-box;
    z-index: -1;
}

.member-info .status-member {
    font-family: Gemunu;
    font-size: 20px;
    background-color: var(--sopPurple);
    height: 25px;
    padding: 0 5px;
    margin-left: auto;
    margin-right: -20px;
    z-index: 10;
}

.member-info .status-owner {
    font-family: Gemunu;
    font-size: 20px;
    background-color: #F1C40F;
    height: 25px;
    padding: 0 5px;
    margin-left: auto;
    margin-right: -20px;
    z-index: 10;
}

.member-info .status-moderator {
    font-family: Gemunu;
    font-size: 20px;
    background-color: #E67E22;
    height: 25px;
    padding: 0 5px;
    margin-left: auto;
    margin-right: -20px;
    z-index: 10;
}

.member-info .status-content-manager {
    font-family: Gemunu;
    font-size: 20px;
    background-color: #E91E63;
    height: 25px;
    padding: 0 5px;
    margin-left: auto;
    margin-right: -20px;
    z-index: 10;
}