/* all content inside index */
.hero {
    position: relative;
    width: 100vw;
    height: calc(95vh - 80px);
}

.gradLeft {
    width: 50%;
    height: 100%;
    background: linear-gradient(to right, black, transparent);
    opacity: 40%;
    position: absolute;
}


.hero video {
    position: relative;
    width: 100vw;
    height: calc(95vh - 80px);
    opacity: 15%;
    filter: blur(0px);
    object-fit: cover;
    z-index: -1;
}

.hero-container {
    margin-top: 22vh;
    z-index: 10;
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

.hero .welcomeTo {
    position: relative;
    text-align: center;
    font-family: Microsoft Yi Baiti;
    font-size: 2vw;
    margin-right: 30vw;
    margin-bottom: 0.3vw;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.hero .divLine {
    background-color: var(--sopPurple);
    height: 3px;
    position: relative;
    width: 40vw;
}

.hero .sop {
    text-align: center;
    font-family: Aller;
    font-style: italic;
    margin-top: -0.5vw;
    font-size: 7vw;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.hero .textBox {
    font-family: Gemunu;
    background-color: var(--sopPurple);
    margin-top: 1vw;
    text-align: left;
    padding-left: 1vw;
    padding-bottom: 0.1vw;
    font-size: 3.3vw;
    position: absolute;
    padding-right: 23vw;
    right: 0;
}

@media screen and (max-width: 1024px) {
    .hero-container {
        margin-left: vw;
        margin-right: 0;
    }

    .hero .welcomeTo {
        font-size: 3vw;
        margin-right: 60vw
    }

    .hero .sop {
        font-size: 12vw;
        /* Increase font size by 2 times */
    }

    .hero .textBox {
        font-size: 6.6vw;
        /* Increase font size by 2 times */
    }
}

.hero .scrollDown {
    position: absolute;
    top: calc(95vh - 200px);
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Gemunu;
    font-size: 30px;
}

.about-us {
    display: flex;
    justify-content: right;
    padding: calc(6vh + 80px) 0;
    gap: 10vw;
}

.about-us .divLine {
    background-color: var(--sopPurple);
    height: 3px;
    position: relative;
    float: right;
    width: 50vw;
}

.about-us h1 {
    font-family: Gemunu;
    margin-left: 0vw;
    font-size: 5vw;
}

.about-us p {
    margin-top: 5vw;
    margin-left: 0vw;
    font-size: 1.5vw;
    font-family: Gemunu;
    line-height: 1.5;
    width: 33vw;
    opacity: 1;
    transition: transform 1s, opacity 0.8s ease-out;
}

.about-us p.hidden {
    opacity: 0;
    transform: translateX(50px);
}

.about-us .twitterWidget {
    display: block;
}

@media screen and (max-width: 1024px) {
    .about-us .divLine {
        width: 95vw;
    }

    .about-us h1 {
        margin-left: 0vw;
        font-size: 10vw;
    }

    .about-us p {
        margin-left: 0vw;
        font-size: 3vw;
        width: 62vw;
    }

    .about-us .twitterWidget {
        display: none;
    }
}

@media screen and (max-width: 512px) {
    .about-us h1 {
        font-size: 20vw;
    }

    .about-us p {
        font-size: 8vw;
        width: 66vw;
    }
}

.insight {
    background-color: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    font-family: Gemunu;
    padding: 10vw 0;
}

.insight .bg {
    width: 0;
    min-height: 100vh;
    min-width: 100vw;
    opacity: 0;
    position: fixed;
    z-index: -100;
    transition: opacity 0.6s ease-out;
    mask-image: linear-gradient(to bottom, transparent 10%, black 100%);
    top: 0;
}

.insight .section {
    box-sizing: content-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5vw;
    height: 20vw;
    padding: 6vw 16.6vw;
    font-size: 2vw;
    line-height: 1.5;
    text-align: center;
}

.insight .section img, .insight .section video {
    height: 100%;
    border: 0.5vw solid var(--sopPurple);
    border-top: none;
    border-left: none;
    box-shadow: 0 0 5vw rgba(255, 255, 255, 0.15);
}

@media (max-width: 1024px) {
    .insight .section {
        flex-direction: column;
        width: 80%;
        height: auto;
        padding: 30vw 0;
        margin: 0 auto;
        font-size: 8vw;
    }

    .insight .sopEvents {
        flex-direction: column-reverse;
    }

    .insight .section img, .insight .section video {
        width: 100%;
        height: auto;
        border: 1vw solid var(--sopPurple);
        border-top: none;
        border-left: none;
    }
}

.bgContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.image-container {
    height: 100%;
    display: flex;
    justify-content: right;
}

.imageTag {
    width: fit-content;
    position: absolute;
    padding: 0 10px;
    background-color: var(--sopPurple);
    font-size: 20px;
    margin: -10px -20px 0 0;
}

.thankYou {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    padding: 5vw 0vw;
    /* background-color: var(--sopPurple);
    box-shadow: inset 0 0 10vw rgba(0, 0, 0, 0.3); */
}
