/* all content inside index */
.hero {
    position: relative;
}

.hero video {
    position: relative;
    width: 100vw;
    height: calc(95vh - 80px);
    min-height: 45 0px;
    opacity: 15%;
    filter: blur(0px);
    object-fit: cover;
    z-index: -1;
}

.hero-container {
    margin-top: 22vh;
    z-index: 10;
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

.hero .welcomeTo {
    position: relative;
    text-align: center;
    font-family: Microsoft Yi Baiti;
    font-size: 2vw;
    margin-right: 30vw;
    margin-bottom: 0.3vw;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.hero .divLine {
    background-color: rgb(118, 45, 187);
    height: 3px;
    position: relative;
    width: 40vw;
}

.hero .sop {
    text-align: center;
    font-family: Aller;
    font-style: italic;
    margin-top: -0.5vw;
    font-size: 7vw;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.hero .textBox {
    font-family: Gemunu;
    background-color: rgb(118, 45, 187);
    margin-top: 1vw;
    text-align: left;
    padding-left: 1vw;
    padding-bottom: 0.1vw;
    font-size: 3.3vw;
    position: absolute;
    padding-right: 23vw;
    right: 0;
}

@media screen and (max-width: 1024px) {
    .hero-container {
        margin-left: vw;
        margin-right: 0;
    }

    .hero .welcomeTo {
        font-size: 3vw;
        margin-right: 60vw
    }

    .hero .sop {
        font-size: 12vw;
        /* Increase font size by 2 times */
    }

    .hero .textBox {
        font-size: 6.6vw;
        /* Increase font size by 2 times */
    }
}

.hero .scrollDown {
    position: absolute;
    top: calc(95vh - 200px);
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Gemunu;
    font-size: 30px;
}

.about-us {
    display: flex;
    justify-content: right;
    margin-top: calc(6vh + 80px);
    gap: 100px;
}

.about-us .divLine {
    background-color: rgb(118, 45, 187);
    height: 3px;
    position: relative;
    float: right;
    width: 50vw;
}

.about-us h1 {
    font-family: Gemunu;
    margin-left: 0vw;
    font-size: 5vw;
}

.about-us p {
    margin-top: 5vw;
    margin-left: 0vw;
    font-size: 1.5vw;
    font-family: Gemunu;
    width: 33vw;
}

@media screen and (max-width: 1024px) {
    .about-us .divLine {
        width: 95vw;
    }

    .about-us h1 {
        margin-left: 0vw;
        font-size: 10vw;
    }

    .about-us p {
        margin-left: 0vw;
        font-size: 3vw;
        width: 62vw;
    }

    .about-us .twitterWidget {
        display: none;
    }
}

@media screen and (max-width: 512px) {
    .about-us h1 {
        font-size: 15vw;
    }

    .about-us p {
        font-size: 4vw;
        width: 66vw;
    }
}

.sop2023 {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    -webkit-mask-image: linear-gradient(transparent 20%, black, black 80%, transparent);
    mask-image: linear-gradient(transparent 0%, black, black 75%, transparent);
}

.sop2023 img {
    position: absolute;
    filter: blur(10px);
    opacity: 20%;
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -10;
}



.sopmeetup{
    margin-top: 5vw;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}