/* GLOBAL STYLING */

:root {
    --background: rgb(10, 10, 10);
    --backgroundGrad: rgb(24, 7, 32);
    --text: white;
    --sopPurple: rgb(118, 45, 187);
}

* {
    color: var(--text);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: Aller;
    src: url(/media/fonts/Aller_Bold.ttf);
}

@font-face {
    font-family: Gemunu;
    src: url(/media/fonts/GemunuLibre.ttf);
}

body {
    background-color: var(--background);
    overflow-x: hidden;
    font-family: Gemunu;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(92, 92, 92);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border-radius: 100vw;
    transition: ease-in-out 0.5s;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgb(150, 150, 150);
    transition: ease-in-out 0.5s;
}

#bgGrad {
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    top: 0;
    position: fixed;
    z-index: -100;
}

header {
    height: 60px;
    width: 100%;
    padding: 10px 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.7), transparent);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    top: 0;
    z-index: 1000;
    user-select: none;
}

.headerSolid {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(10,10,10,0.2));
    z-index: -1;
    opacity: 0;
    transition: ease;
    transition: 0.5s ease-out;
    backdrop-filter: blur(6px);
}

.headerSolid.show {
    opacity: 1;
    transition: 0.2s ease-out;
}

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

@media (max-width: 1024px) {
    header {
        padding: 10px 5%;
    }
}

@media (max-width: 360px) {
    header {
        height: 45px;
        padding: 5px 5%;
    }

    .nav-branding h1 {
        display: none;
    }
}

.nav-branding {
    display: flex;
    align-items: center;
    height: 100%;
    float: left;
}

.nav-branding a {
    height: 100%;
    width: auto;
}

.nav-branding img {
    height: 100%;
    width: auto;
    margin-right: 5px;
    transition: transform 0.3s ease;
}

.nav-branding img:hover {
    transform: scale(1.1);
}

header h1 {
    font-family: Aller;
    font-size: 1.5em;
}

.nav-menu {
    height: 100%;
    float: right;
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-menu a {
    font-size: 14px;
    font-family: Aller;
    transition: ease-out 0.1s;
}

.nav-item a {
    opacity: 0.5;
}

.nav-item.active a {
    opacity: 1;
}

.nav-menu a:hover {
    transform: scale(1.1);
}

.navbar img {
    height: 100%;
}

.nav-socials {
    height: 100%;
    width: auto;
    gap: 8px;
    display: flex;
    align-items: center;
}

.nav-socials img {
    height: 100px;
    width: 100px;
    max-width: 18px;
    max-height: 18px;
    margin-top: 1px;
}

.vertical-seperator {
    width: 1px;
    height: 40%;
    background-color: white;
    opacity: 0.5;
}

.hamburger {
    display: none;
    cursor: pointer;
    float: right;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media (max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        height: auto;
        position: fixed;
        left: 100vw;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: transparent;
        width: 100%;
        text-align: center;

        transition: 0.4s;

        backdrop-filter: blur(6px);
        filter: drop-shadow(0 0 10px black);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-socials {
        margin: 16px 0;
        gap: 20px;
    }

    .nav-socials img {
        height: 25px;
    }

    .nav-menu a {
        padding: 10px;
    }
}

@media (max-width: 360px){
    .nav-menu {
        top: 30px;
    }
}

footer {
    word-spacing: -3px;
    padding: 80px 13% 70px;
    background-color: #17071f;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    box-shadow: 0 50vh 0 50vh #17071f;
}

.footer-branding {
    display: flex;
    align-items: center;
    height: 40px;
}

.footer-branding img {
    height: 100%;
    margin-right: 5px;
}

.footer-branding h1 {
    font-family: Aller;
    font-size: 20px;
}

.footer-content h4 {
    color: fff;
    margin-bottom: 1.2vw;
    font-size: 20px;
    font-family: Microsoft Yi Baiti;
}

.footer-content li {
    margin-bottom: 16px;
}

.footer-content li a {
    font-family: Microsoft Yi Baiti;
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: bold;
    transition: 0.2s ease-out;
    width: auto;
}

.footer-content li a:hover {
    transform: translateY(-2px);
}


.footer-content p {
    font-family: Microsoft Yi Baiti;
    color: #d6d6d6;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    margin: 20px 0;
}

.socials i {
    display: inline-block;
    font-size: 22px;
    color: #d6d6d6;
    margin-right: 17px;
    transition: 0.3s ease-out;
}

.socials i:hover {
    color: #fff;
}


@media (max-width:1690px) {
    footer {}
}