* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #262626;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
}

.navbar img {
    height: 40px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media (max-width:768px) {
    .hamburger {
        display: block;
    }

    .hamburgerMenu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburgerMenu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburgerMenu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100vw;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s ease-in-out;
    }

    .nav-menu.active{
        left: 0;
    }

    .nav-item{
        margin: 16px 0;
    }
}