.hero video {
    position: relative;
    top: -100px;
    width: 100vw;
    height: 950px;
    opacity: 15%;
    filter: blur(0px);
    object-fit: cover;
    z-index: -1;
}

@media screen and (max-width: 1024px) {
    .hero video {
        height: calc(500px + 40vw);
    }
}

.hero .welcomeTo {
    position: relative;
    margin-top: calc(190px + 3vw);
    text-align: center;
    font-family: Microsoft Yi Baiti;
    font-size: 2vw;
    margin-right: 30vw;
    margin-bottom: 0.3vw;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.hero .divLine {
    background-color: rgb(118, 45, 187);
    height: 3px;
    position: relative;
    width: 40vw;
}

.hero .sop {
    text-align: center;
    font-family: Aller;
    font-style: italic;
    margin-top: -0.5vw;
    font-size: 7vw;
    text-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}

.hero .textBox {
    font-family: Gemunu;
    background-color: rgb(118, 45, 187);
    margin-top: 1vw;
    text-align: left;
    padding-left: 1vw;
    padding-bottom: 0.1vw;
    font-size: 3.3vw;
    position: absolute;
    padding-right: 23vw;
    right: 0;
}

.hero-container {
    z-index: 10;
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
}

@media screen and (max-width: 1024px) {
    .hero-container {
        margin-left: vw;
        margin-right: 0;
    }

    .hero .welcomeTo {
        font-size: 3vw;
        margin-right: 60vw
    }

    .hero .sop {
        font-size: 12vw;
        /* Increase font size by 2 times */
    }

    .hero .textBox {
        font-size: 6.6vw;
        /* Increase font size by 2 times */
    }
}

.hero .scrollDown {
    position: absolute;
    top: 727px;
    text-align: center;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Gemunu;
    font-size: 2vw;
}

@media screen and (max-width: 1024px) {
    .hero .scrollDown {
        top: calc(400px + 20vw);
        font-size: 4vw;
    }
}

.about-us .divLine {
    background-color: rgb(118, 45, 187);
    height: 3px;
    position: relative;
    margin-left: auto;
    margin-right: 0;
    width: 76vw;
}

.about-us h1 {
    font-family: Gemunu;
    margin-left: 24vw;
    font-size: 5vw;
}

.about-us p {
    margin-top: 5vw;
    margin-left: 24vw;
    font-size: 1.5vw;
    font-family: Gemunu;
    width: 40vw;
}

@media screen and (max-width: 1024px) {
    .about-us .divLine {
        width: 95vw;
    }
    
    .about-us h1 {
        margin-left: 5vw;
        font-size: 10vw;
    }

    .about-us p {
        margin-left: 5vw;
        font-size: 4vw;
        width: 62vw;
    }
}

footer {
    margin-top: 6vw;
}