.notice {
    position: absolute;
    background-color: rgba(255, 165, 0, 0.8);
    width: 100%;
    border-bottom: 4px dashed rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-size: 15px;
    padding: 60px 100px 11px ;
    top: -92px;
    transition: top 1s;
}

.notice.active {
    top: 0;
}

@media (max-width: 1024px) {
    .notice {
        padding: 60px 5% 10px;
        font-size:calc(0.5vw + 10px);
    }
}

@media (max-width: 360px) {
    .notice {
        padding: 50px 5% 10px;
    }
}

.member-list-container {
    margin-top: 150px;
}

.member-list-header p {
    font-family: Gemunu;
    font-size: 30px;
    margin-bottom: 60px;
    text-align: center;
    z-index: 1;
}

.member-list-letter p {
    font-family: Gemunu;
    font-size: 20px;
    max-width: 1300px;
    margin-bottom: 30px;
    text-align: left;
    z-index: 1;
    opacity: 50%;
    padding-left: 14px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1350px) {
    .member-list-letter p {
        max-width: 850px;
    }
}

@media (max-width: 900px) {
    .member-list-letter p {
        max-width: 400px;
    }

}

    @media (max-width: 480px) {
        .member-list-letter p {
            max-width: calc(404px * 0.8);
        }
}

.member-list-header .divLine {
    width: 100vw;
    height: 4px;
    background: linear-gradient(to right, var(--sopPurple) 0%, transparent 50%, var(--sopPurple) 100%);
    margin-top: 15px;
    margin-left: auto;
    opacity: 15%;
    z-index: -1;
    position: absolute;
}

.members{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));

    justify-content: left;
    gap: 50px;
    row-gap: 60px;
    max-width: 1300px;
    width: auto;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 1350px) {
    .members {
        max-width: 850px;
    }
}

@media (max-width: 900px) {
    .members {
        max-width: 400px;
    }

}

    @media (max-width: 480px) {
        .members {
            max-width: calc(404px * 0.8);
        }
}

.member-info {  
    position: relative;
    height: 75px;
    width: 350px;
    
    display: flex;
    gap: 10px;
    font-family: Gemunu;
    margin-left: 16px;
    margin-right: 20px;
    margin-bottom: 12px;
    text-overflow:clip;
}



@media (max-width: 480px) {
    .member-info {
        transform: scale(0.8);
        margin-left: -20px;
    }
}

.profileLink {
    position: absolute;
    height: 75px;
    width: 100%;
    user-select: none;
}

.member-info h1 {
    font-size: 24px;
    margin-top: -4px;
}

.member-info .pfp {
    height: 100%;
}

.member-info .flag {
    height: 18px;
    width: auto;
}

.member-info .gamemode-icon {
    height: 18px;
    width: 18px;
    margin-left: auto;
    margin-top: auto;
}

.member-info .icon-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: -1;
}

.member-info .name-rank {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.member-info .user-info {
    display: flex;
    gap: 5px;
}

.member-info .discord p {
    text-align: left;
    margin-top: 1px;
    font-size: 14px;
    user-select: all;
}

.member-info .discord {
    position: absolute;
    margin-top: 58px;
    margin-left: 200px;
    display: flex;
    gap: 5px;
}

.member-info .discord-icon {
    margin-top: 1px;
    height: 14px;
}

.member-info .shadow {
    height: calc(75px + 8px);
    width: calc(350px + 8px);
    background-color: black;
    opacity: 20%;
    position: absolute;
    z-index: -2;

    margin: 6px 0 0 6px;
    padding: 2px;
    box-sizing: content-box;
}

.member-info .outline-member {
    position: absolute;
    height: calc(75px + 8px);
    width: calc(350px + 8px);

    border-width: 1px;
    border-style: solid;
    border-color: var(--sopPurple);
    border-width: 4px;
    border-top: 0;
    border-left: 0;

    box-sizing: content-box;
    z-index: -1;
}

.member-info .outline-owner {
    position: absolute;
    height: calc(75px + 8px);
    width: calc(350px + 8px);

    border-width: 1px;
    border-style: solid;
    border-color: #F1C40F;
    border-width: 4px;
    border-top: 0;
    border-left: 0;

    box-sizing: content-box;
    z-index: -1;
}

.member-info .outline-moderator {
    position: absolute;
    height: calc(75px + 8px);
    width: calc(350px + 8px);

    border-width: 1px;
    border-style: solid;
    border-color: #E67E22;
    border-width: 4px;
    border-top: 0;
    border-left: 0;

    box-sizing: content-box;
    z-index: -1;
}

.member-info .outline-content-manager {
    position: absolute;
    height: calc(75px + 8px);
    width: calc(350px + 8px);

    border-width: 1px;
    border-style: solid;
    border-color: #E91E63;
    border-width: 4px;
    border-top: 0;
    border-left: 0;

    box-sizing: content-box;
    z-index: -1;
}

.member-info .status-member {
    font-family: Gemunu;
    font-size: 20px;
    background-color: var(--sopPurple);
    height: 25px;
    padding: 0 5px;
    margin-left: auto;
    margin-right: -20px;
    z-index: 10;
}

.member-info .status-owner {
    font-family: Gemunu;
    font-size: 20px;
    background-color: #F1C40F;
    height: 25px;
    padding: 0 5px;
    margin-left: auto;
    margin-right: -20px;
    z-index: 10;
}

.member-info .status-moderator {
    font-family: Gemunu;
    font-size: 20px;
    background-color: #E67E22;
    height: 25px;
    padding: 0 5px;
    margin-left: auto;
    margin-right: -20px;
    z-index: 10;
}

.member-info .status-content-manager {
    font-family: Gemunu;
    font-size: 20px;
    background-color: #E91E63;
    height: 25px;
    padding: 0 5px;
    margin-left: auto;
    margin-right: -20px;
    z-index: 10;
}